<h1 id="title">Welcome {{ data.title }}</h1>

<input
  alt="set new title"
  class="newTitle"
  [value]="data.title"
  (keyup)="updateTitle(titleInput.value)"
  #titleInput
/>

<!-- <stepper></stepper> -->

<div>
  <div class="pipe">
    {{ data.price | currency: data.currency }}
  </div>
</div>

<div id="courses" *ngIf="courses$ | async as courses">
  <course-card
    *ngFor="let course of courses; index as i"
    [course]="course"
    [cardIndex]="i + 1"
    (courseSelected)="onCourseSelected($event)"
  ></course-card>
</div>
